.A1{
	COLOR: #757573;
	FONT-SIZE:20PX;
	
	}
	#A2{
		BACKGROUND:BLACK;
		COLOR:WHITE;
		FONT-SIZE: 30PX;
		BORDER: 2PX SOLID SILVER;
		PADDING:15PX;
		MARGIN:15PX;
		BORDER-RADIUS: 100PX;
		OPACITY:0.9;
		MARGIN-RIGHT: 1100PX;
	}
#A2:HOVER{
	BOX-SHADOW:3PX 3PX 30PX;
}
#a3{
	position:absolute;
	right:100px;
	top:25px;
	font-size: 20px;
	color:black;
	font-family:arial;
	
}
	.container{
		WORD-SPACING:400px;
		POSITION:ABSOLUTE;
		LEFT:100PX;	
		FONT-SIZE:20PX;
	
	}
	A:HOVER{
		COLOR:ORANGE;
		TEXT-DECORATION:NONE;
	}
	#A4{
		TEXT-ALIGN:CENTER;
		COLOR:BLACK;
		FONT-SIZE:25PX;
		POSITION:ABSOLUTE;
		TOP:200PX;
		LEFT:350PX;
	}
	.KARTINKA{
		POSITION:ABSOLUTE;
		TOP:290PX;
		LEFT:370PX;
		RIGHT:100PX;
	}
	.GORN{
		POSITION:ABSOLUTE;
		TOP:650PX;
		LEFT:365PX;
		COLOR:#321a8b;
		FONT-SIZE:30PX;
		BACKGROUND:#d9d2e0;
		PADDING:24PX;
		BORDER:3PX SOLID SILVER;
		BORDER-RADIUS:50PX;
	}
	#IMG5{
		POSITION: ABSOLUTE;
		height: 245;
		
		TOP:750PX;
		LEFT: 100PX;
	}
	#IMG55{
		POSITION: ABSOLUTE;
		TOP:750PX;
		height: 245;
		LEFT: 550PX;
	}
	#IMG555{
		POSITION: ABSOLUTE;
		TOP:750PX;
		
		height: 245;
		
		LEFT: 1000PX;
	}
	
	#OM1{
		POSITION: ABSOLUTE;
		TOP:950PX;
		RIGHT:1000PX;
		LEFT:100PX;
	}
	#OM11{
		POSITION: ABSOLUTE;
		TOP:1010PX; 
		LEFT:100PX;
		RIGHT:1000PX;
		BORDER:3PX SOLID SILVER;
		BACKGROUND:#d9d2e0;
		BORDER-RADIUS:30PX;
		PADDING:20PX;
		PADDING-LEFT:45PX;
		
	}
	#OM2 {
		POSITION: ABSOLUTE;
		TOP:950PX;
		LEFT:550PX;
		RIGHT:550PX;
	}
	#OM22{
		POSITION: ABSOLUTE;
		TOP:1010PX;
		LEFT:550PX;
		RIGHT:550PX;
		BORDER:3PX SOLID SILVER;
		BACKGROUND:#d9d2e0;
		BORDER-RADIUS:30PX;
		PADDING:20PX;
		PADDING-LEFT:45PX;
		
	}
	#OM3{
		POSITION: ABSOLUTE;
		TOP:950PX;
		RIGHT:100PX;
		LEFT:1000PX;
	}
	#OM33{
		POSITION: ABSOLUTE;
		TOP:1010PX;
		RIGHT:100PX;
		LEFT:1000PX;
		BORDER:3PX SOLID SILVER;
		BACKGROUND:#d9d2e0;
		BORDER-RADIUS:30PX;
		PADDING:20PX;
		PADDING-LEFT:45PX;
		
	}
	#OM4{
		POSITION: ABSOLUTE;
		TOP:1300PX;
		RIGHT:1000PX;
		LEFT:100PX;
	}
	#OM44{
		POSITION: ABSOLUTE;
		TOP:1360PX;
		RIGHT:1000PX;
		LEFT:100PX;
		BORDER:3PX SOLID SILVER;
		BACKGROUND:#d9d2e0;
		BORDER-RADIUS:30PX;
		PADDING:20PX;
		PADDING-LEFT:45PX;
	}
	#OM5{
		POSITION: ABSOLUTE;
		TOP:1300PX;
		RIGHT:550PX;
		LEFT:550PX;
	}
	#OM55{
		POSITION: ABSOLUTE;
		TOP:1360PX;
		RIGHT:550PX;
		LEFT:550PX;
		BORDER:3PX SOLID SILVER;
		BACKGROUND:#d9d2e0;
		BORDER-RADIUS:30PX;
		PADDING:20PX;
		PADDING-LEFT:45PX;
	}
	#OM6{
		POSITION: ABSOLUTE;
		TOP:1300PX;
		RIGHT:100PX;
		LEFT:1000PX;
	}
	#OM66{
		POSITION: ABSOLUTE;
		TOP:1360PX;
		RIGHT:100PX;
		LEFT:1000PX;
		BORDER:3PX SOLID SILVER;
		BACKGROUND:#d9d2e0;
		BORDER-RADIUS:30PX;
		PADDING:20PX;
		PADDING-LEFT:45PX;
	}
	.CONT{
		POSITION:ABSOLUTE;
		TOP:1100PX;
		LEFT:100PX;
		RIGHT:100PX;
		BORDER: 1PX SOLID #d9d2e0;
		BACKGROUND:#d9d2e0;
		PADDING-TOP:30PX;
		PADDING-LEFT:30PX;
		PADDING-RIGHT:30PX;
		PADDING-BOTTOM:30PX;
	}
	#LOL{
		FONT-SIZE:20PX;
	}
	.KONTAKTS{
		POSITION:ABSOLUTE;
		TOP:1300PX;
	}
	#MAIL{
		POSITION: ABSOLUTE;
		LEFT:160PX;
	}
	#pochta{
		position:absolute;
		left:150px;
	}
	#KODQR{
		POSITION:ABSOLUTE;
		LEFT:1100PX;
	}
	
	
	
	
	