.BACK{
	BORDER:2PX SOLID SILVER;
	BACKGROUND-COLOR:BLACK;
	COLOR:WHITE;
	PADDING:10PX;
}

.CONTAINER{
	FONT-SIZE:40PX;
	TEXT-ALIGN:CENTER;
	COLOR:WHITE;
}

#MI{
	TEXT-ALIGN:CENTER;
	COLOR:WHITE;
}